* {
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}
body{
  background-color: grey;
}
.container {
  margin: auto;
  max-width: 1300px;
  padding: 5px;
  text-align: center;
}
.searchbox {
  padding: 10px;
  font-size: 1.5em;
}
button {
  padding: 10px;
  font-size: 1.5em;
  background-color: #337ab7;
  color: white;
}
a.result {
  width: 300px;
  height: 450px;
  margin: 3px;
}
.clear {
  clear: both;
}
#details-page p {
  text-align: left;
  width: 50%;
  clear: left;
}
.poster {
  position: absolute;
  right: 10px;
  top: 10px;

}
.backbutton {
  float: left;
  margin-bottom: 5px;
}
.searchform {
  margin-bottom: 5px;
}
h3 {
  text-align: left;
}
#search-page img {
  opacity: .7;
}
#search-page img:hover {
  opacity: 1;
}
